@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {
	text-decoration: none !important;
	color: inherit !important;
}

body {
	min-height: 100vh;
}

/* common classes */
.trans-3 {
	transition: 0.3s ease-in-out;
}

.trans-2 {
	transition: 0.2s ease-in-out;
}

.box-shadow-main {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.active-primary:active {
	background-color: #0275d8 !important;
	color: #fff;
}

.line-through {
	text-decoration: line-through;
	text-decoration-thickness: 2px;
	text-decoration-color: maroon;
}

button {
	outline: none !important;
	box-shadow: none !important;
}

/* common classes end */

/* pagination */
.pagination-container {
	margin-top: 1.5rem;
}

.pagination {
	display: flex;
}

.pagination .disabled {
	color: rgb(149, 148, 148) !important;
	cursor: not-allowed;
}

.pageItemActive, .pageLinkActive {
	background-color: #0275d8;
	color: #fff;
}

.pageItemActive:hover, .pageLinkActive:hover {
	background-color: #fff;
	border-color: #0275d8;
	color: #0275d8;
}

.page-item {
	margin-right: 1rem;
	box-shadow: none;
	outline: none;
	border-radius: 0.3rem;
}

.page-link {
	border-radius: 0.3rem;
}

.page-link:hover {
	border-color: #0275d8;
}

.btn:focus, .page-link:focus {
	outline: none;
	box-shadow: none;
	background-color: inherit;
	color: inherit;
}

/* pagination end */