/* Featured Products */
.AllProducts .feat-prod-head {
	width: fit-content;
	border-bottom: 1.5px solid rgb(2, 107, 107);
}

.AllProducts .feat-product-card .card-img-top {
	overflow: hidden;
}

.AllProducts .feat-product-card .card:hover img {
	transform: scale(1.2);
}

.AllProducts .feat-product-card .card:hover {
	transform: translateY(-1vmax);
	box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.AllProducts .product-title {
	color: maroon;
}

.filter-container {
	width: 16vw;
	position: absolute;
	top: 10vmax;
	left: 10vmax;
}