/* Landing Page Carousel */
.Home-Img-Carousel .home-carousel-img {
	width: 100vw;
	height: 100vh;
	object-fit: cover;
	filter: brightness(50%);
}

.Home-Img-Carousel .carousel-caption {
	position: absolute;
	top: 20%;
	margin: auto;
}

.Home-Img-Carousel .carousel-caption h1 {
	font-size: 5rem;
}

.Home-Img-Carousel .carousel-caption p {
	margin-top: 2rem;
	font-size: xx-large;
}

.Home-Img-Carousel .carrousel-scroll-btn {
	border: 1px solid #fff;
	outline: none;
	background-color: transparent;
	color: #fff;
	padding: 8px 16px;
}

.Home-Img-Carousel .carrousel-scroll-btn:hover {
	background-color: #fff;
	color: #000;
}

@media screen and (max-width: 768px) {
	.Home-Img-Carousel .carousel-caption {
		top: 10%;
	}

	.Home-Img-Carousel .carousel-caption h1 {
		font-size: 3rem;
	}
}

/* Featured Products */
.FeaturedProducts .feat-prod-head {
	width: fit-content;
	border-bottom: 1.5px solid rgb(2, 107, 107);
}

.FeaturedProducts .feat-product-card .card-img-top {
	overflow: hidden;
}

.FeaturedProducts .feat-product-card .card:hover img {
	transform: scale(1.2);
}

.FeaturedProducts .feat-product-card .card:hover {
	transform: translateY(-1vmax);
	box-shadow: 0 10px 20px 5px rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.FeaturedProducts .product-title {
	color: maroon;
}